


{% if links %}
    <div class="card mb-3">

        <div style="background-color: #1b1e24d4; color: white;" class="card-header">Links</div>
        <ul class="list-group list-group-flush">
            {% for link in links %}
                <li style =" background-color: #00000036;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <a style="color: #000;" href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if categories %}
    <div class="card mb-3">
        <div style="background-color: #1b1e24d4; color: white;" class="card-header">Categories</div>
        <ul class="list-group list-group-flush">
            {% for category in categories %}
                <li style =" background-color: #00000036;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <a style="color: #000;" href="{{ url_for('blog.show_category', category_id=category.id) }}">
                        {{ category.name }}
                    </a><br>
                    <span style="color: #000; font-size: 1em;" class="badge badge-pill"> {{ category.posts|length }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
